<template name="entryContainer">
  <div class="panel panel-default dropped">
    <div class="xitem panel-body" draggable="true" style="opacity: 1;">
      <div class="btn-group-vertical btn-group-xs" role="group">
        <button type="button" class="btn btn-default moveUp">
          <span class="glyphicon glyphicon-chevron-up" style="padding-left: 2px" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default moveDown">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </button>
      </div>
      <h4>AMRAP (Rounds)</h4>
      <div class="form-group">
        <label for="time">Time</label>
        <input type="text" class="form-control" id="time" placeholder="Time in minutes">
      </div>
        {{> entryContainerDragArea}}
    </div>
  </div>
</template>