<template name="entryMovement">
  <div class="panel panel-default dropped">
    <div class="mitem panel-body" draggable="true" style="opacity: 1;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="btn-group-vertical btn-group-xs" role="group">
              <button type="button" class="btn btn-default moveUp">
                <span class="glyphicon glyphicon-chevron-up" style="padding-left: 2px" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default moveDown">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
            </div>
            <p>{{name}}</p>
          </div>
          <div class="col-md-8">
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Reps</span>
                  <input type="reps" class="form-control" id="reps">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Weight</span>
                  <input type="weight" class="form-control" id="weight">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>