<template name="trashBin">
<div id="trashBin" class="well itemDragArea">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</div>
<!-- Modal -->
<div class="modal" id="trashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Delete Workout?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">No, Get Me Out Of Here</button>
				<button type="button" id="deleteWorkout" class="btn btn-danger" data-dismiss="modal">Yes, Delete My Workout</button>
			</div>
		</div>
	</div>
</div>
</template>