<template name="builder">
<div class="builder">
	<div class="row">
		<div class="col-md-6">
			<form class="form-inline workoutInfo">
				<div class="form-group">
					<label for="workoutName">Workout Name</label>
					<input type="text" class="form-control" id="workoutName" placeholder="Enter a name">
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-inline workoutInfo">
				<div class="form-group">
					<label for="gymName">Gym</label>
					<input type="text" class="form-control" id="gymName" autocomplete="off" spellcheck="off" placeholder="Enter a gym name">
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{{> entry}}
			{{> trash}}
		</div>
		<div class="col-md-6">
			{{> stock}}
		</div>
	</div>
</div>
</template>