<template name="builder">
  <div class="col-md-6">
    <div class="entry">
      <h1>Workout</h1>
      <div class="well itemDragArea permArea">
        <p class="itemDragAreaText">Drop items here</p>
      </div>
    </div>
    <div class="trash">
      <div id="trashBin" class="well itemDragArea">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="stock">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" draggable="false">
								          Time Scored Workout Structure
								        </a>
						      		</h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="stockitem xitem" draggable="true">
                <div class="btn-group-vertical btn-group-xs" role="group">
                  <button type="button" class="btn btn-default moveUp">
                    <span class="glyphicon glyphicon-chevron-up" style="padding-left: 2px" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default moveDown">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  </button>
                </div>
                <h4>AMRAP (Rounds)</h4>
                <div class="form-group">
                  <label for="time">Time</label>
                  <input type="text" class="form-control" id="time" placeholder="Time in minutes">
                </div>
                <div class="well itemDragArea">
                  <p class="itemDragAreaText">Drop items here</p>
                </div>
              </div>
              <div class="stockitem xitem" draggable="true">
                <h4>AMRAP (Reps)</h4>
                <div class="form-group">
                  <label for="time">Time</label>
                  <input type="text" class="form-control" id="time" placeholder="Time in minutes">
                </div>
                <div class="well itemDragArea">
                  <p class="itemDragAreaText">Drop items here</p>
                </div>
              </div>
              <div class="stockitem xitem" draggable="true">
                <h4>EMOM</h4>
                <div class="form-group">
                  <label for="time">Time</label>
                  <input type="text" class="form-control" id="time" placeholder="Time in minutes">
                </div>
                <div class="well itemDragArea">
                  <p class="itemDragAreaText">Drop items here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
       									 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" draggable="false">
          									Rep/Round Scored Workout Structures
        								 </a>
      								</h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="stockitem xitem" draggable="true">
                <h4>Rounds for Time</h4>
                <div class="form-group">
                  <label for="rounds">Number of Rounds</label>
                  <input type="text" class="form-control" id="rounds" placeholder="Number of Rounds">
                </div>
                <div class="well itemDragArea">
                  <p class="itemDragAreaText">Drop items here</p>
                </div>
              </div>
              <div class="stockitem xitem" draggable="true">
                <h4>Chipper</h4>
                <div class="form-group">
                  <label for="numMov">Number of Movements</label>
                  <input type="text" class="form-control" id="numMov" placeholder="Number of Movements">
                </div>
                <div class="well itemDragArea">
                  <p class="itemDragAreaText">Drop items here</p>
                </div>
              </div>
              <div class="stockitem xitem" draggable="true">
                <h4>Rep Scheme</h4>
                <div class="form-group">
                  <label for="repScheme">Rep Scheme</label>
                  <input type="text" class="form-control" id="repScheme" placeholder="ex: 21/15/9">
                </div>
                <div class="well itemDragArea">
                  <p class="itemDragAreaText">Drop items here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" draggable="false">
								          Miscellaneous Structures
								        </a>
								    </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="stockitem xitem" draggable="true">
                <h4>Sub-Workout</h4>
                <div class="form-group">
                  <label for="partName">Part Name</label>
                  <input type="text" class="form-control" id="partName" placeholder="ex: Part A">
                </div>
                <div class="well itemDragArea">
                  <p class="itemDragAreaText">Drop items here</p>
                </div>
              </div>
              <div class="stockitem xitem" draggable="true">
                <h4>Ladder</h4>
                <div class="form-group">
                  <label for="ladder">Start/End/Increment</label>
                  <input type="text" class="form-control" id="ladder" placeholder="ex: 10/1/-1">
                </div>
                <div class="well itemDragArea">
                  <p class="itemDragAreaText">Drop items here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
								        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" draggable="false">
								          Movements
								        </a>
								    </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <div class="input-group">
                <span class="input-group-addon">Filter:</span>
                <input id="movementFilter" type="text" class="form-control" placeholder="Movement name">
              </div>
              <br>
              <ul id="movementList" class="list-group">
                <li class="list-group-item stockitem mitem" draggable="true">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="btn-group-vertical btn-group-xs" role="group">
                        <button type="button" class="btn btn-default moveUp">
                          <span class="glyphicon glyphicon-chevron-up" style="padding-left: 2px" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default moveDown">
                          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                      </div>
                      <p>Back Squat</p>
                    </div>
                    <div class="col-md-8">
                      <div class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">Reps</span>
                            <input type="reps" class="form-control" id="reps">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">Weight</span>
                            <input type="weight" class="form-control" id="weight">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item stockitem mitem" draggable="true">
                  <div class="btn-group-vertical btn-group-xs" role="group">
                    <button type="button" class="btn btn-default moveUp">
                      <span class="glyphicon glyphicon-chevron-up" style="padding-left: 2px" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default moveDown">
                      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
                  </div>
                  <p>Front Squat</p>
                </li>
                <li class="list-group-item stockitem mitem" draggable="true">
                  <div class="btn-group-vertical btn-group-xs" role="group">
                    <button type="button" class="btn btn-default moveUp">
                      <span class="glyphicon glyphicon-chevron-up" style="padding-left: 2px" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default moveDown">
                      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
                  </div>
                  <p>Pull Ups</p>
                </li>
                <li class="list-group-item stockitem mitem" draggable="true">Push Ups</li>
                <li class="list-group-item stockitem mitem" draggable="true">Kettle Bell Swings</li>
                <li class="list-group-item stockitem mitem" draggable="true">Thrusters</li>
                <li class="list-group-item stockitem mitem" draggable="true">Toes to Bar</li>
                <li class="list-group-item stockitem mitem" draggable="true">Ring Dips</li>
                <li class="list-group-item stockitem mitem" draggable="true">Hand Stand Pushups</li>
                <li class="list-group-item stockitem mitem" draggable="true">Push Ups</li>
                <li class="list-group-item stockitem mitem" draggable="true">Box Jumps</li>
                <li class="list-group-item stockitem mitem" draggable="true">Run</li>
                <li class="list-group-item stockitem mitem" draggable="true">Muscle Ups</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>